CAMERA_TYPE=webcam
WEBCAM_INDEX=0
RTSP_URL=
RTSP_HOST=
RTSP_PORT=554
RTSP_USERNAME=admin
RTSP_PASSWORD=
RTSP_PATH=Streaming/Channels/101
RTSP_PREVIEW_URL=
RTSP_PREVIEW_PATH=Streaming/Channels/102
DISPLAY_VIDEO=false
ANPR_PROCESS_FPS=3
MIN_CONFIDENCE=0.80
MIN_PLATE_LENGTH=5
DETECTION_CONFIRM_FRAMES=2
DETECTION_CONFIRM_SECONDS=2
AUTHORIZATION_ENABLED=false
TRIGGER_COOLDOWN_SECONDS=15
TRIGGER_TYPE=console
GATE_TRIGGER_URL=http://192.168.1.60/open
DATABASE_PATH=data/anpr.db
API_HOST=0.0.0.0
API_PORT=8000
